* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*Element*/
body {
    background-color: #ffe9f3;
}

h1, h2, h3, h4, p {
    text-align: center;
}

a {
    color: #512d38;
}

a:hover {
    color: #87baab;
    cursor: pointer;
}

header {
    background-color: #b27092;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    border-width: 100%;
}

header a {
    color: black;
    font-size: 20px;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    float: right;
    border-left: 1px solid black;
}

header a:hover {
    background-color: #512d38;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }

li {
    display: inline;
}

main {
    margin-top: 100px;
}

article {
    max-width: 50%;
    margin: auto;
}

article p {
    text-align: left;
}

aside {
    background-color: #f4bfdb;
    position: absolute;
    top: inherit;
    right: 0;
    width: 200px;
    border: 3px solid black;
    z-index: -1;
}

aside img {
    width: 180px;
    padding: 10px;
}

footer {
    background-color: #b27092;
    color: black;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}

/*Klasser*/
.logo {
    height: 50px; 
    padding: 5px 5px;
    display: inline-block;
}

.bredbild {
    width: 100%;
}

/*Sten Sax Påse*/
.game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.moves {
    margin: auto;
    width: 300px;
}

.move-button {
    width: 90px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #512d38;
    border-radius: 45px;
}

.img-move {
    width: 80px;
}

.css-resultat {
    font-size: x-large;
}

.css-moves, .css-score {
    font-size: medium;
}

.återställ {
    display: block;
    margin-right: auto;
    margin-left: auto;
}