body {
    background-color: lavenderblush;
}

header {
    background-color: violet;
    border-style: solid;
    border-width: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

