* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*Element*/
body {
    background-color: #ffe9f3;
    margin: 0;
}

h1, h2, h3, h4, p {
    text-align: center;
}

a {
    color: #512d38;
}

a:hover {
    color: #87baab;
    cursor: pointer;
}

header {
    background-color: #b27092;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: sticky;
    width: 100%;
}

#navlaptop {
    display: flex;
    justify-content: flex-end;
}

#navlaptop a {
    color: black;
    font-size: 20px;
    padding: 22px;
    text-decoration: none;
    border-left: 1px solid black;
}

#navlaptop a:hover {
    background-color: #512d38;
    color: black;
}

#navmobile .dropbtn {
    height: 50px;
    width: 50px;
    background-color: #f4bfdb;
}

#navmobile .droplinks {
    position: absolute;
}

#navmobile .droplinks a {
    display: block;
    color: black;
    text-decoration: none;
    background-color: #b27092;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

article {
    max-width: 50%;
    margin: auto;
}

article p {
    text-align: left;
}

aside {
    background-color: #f4bfdb;
    border: 3px solid black;
}

aside img {
    width: 180px;
    padding: 10px;
}

footer {
    background-color: #b27092;
    color: black;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}

.logo {
    height: 50px; 
    padding: 5px 5px;
}

.bredbild {
    width: 100%;
}

/*Sten Sax Påse*/
.game-logo {
    display: block;
    margin: auto;
    height: 200px;
}

.moves {
    margin: auto;
    width: 300px;
}

.move-button {
    width: 90px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #512d38;
    border-radius: 45px;
}

.img-move {
    width: 80px;
}

.css-resultat {
    font-size: x-large;
}

.css-moves, .css-score {
    font-size: medium;
}

.återställ {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*Visual novel*/
.gamecontainer {
    position: absolute;
    text-align: center;
    background-color: aqua;
    border: 5px solid darkblue;
    height: 50vh;
    width: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
  }

.ui {
    position: absolute;
    height: 10vh;
    width: 70vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border: 5px solid darkblue;
    z-index: -1;
}

.startbutton {
    color: white;
    background-image: url("visualnovel-assets/UI/Btn_V03.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    border-radius: 15px;
    width: 25vh;
    height: 4.6vh;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vn-background {
    object-fit: cover;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 40vh;
    width: 70vh;
    z-index: -2;
}

.charleft {
    position: absolute;
    top: 20%;
    left: -5%;
    height: 25vh;
    width: 20vh;
    z-index: -2;
}

.charmiddle {
    position: absolute;
    top: 20%;
    left: 25%;
    height: 25vh;
    width: 20vh;
    z-index: -2;
}

.charright {
    position: absolute;
    top: 20%;
    right: 17%;
    height: 25vh;
    width: 20vh;
    z-index: -2;
}

.vn-char {
    width: 35vh;
    top: 0px;
    left: 0px;
    position: absolute;
}

.narrator {
    position: absolute;
    height: 10vh;
    width: 60vh;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textbox {
    position: absolute;
    height: 7vh;
    width: 60vh;
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.vnp {
    text-align: left;
}

.buttonbox {
    position: absolute;
    height: 10vh;
    width: 70vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nextbutton {
    position: absolute;
    background-color: transparent;
    background-image: url(visualnovel-assets/play-button.256x256.png);
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 7vh;
    width: 7vh;
    top: 47%;
    left: 92%;
    transform: translate(-50%, -50%);
}

/*Virtuellt husdjur*/
#playfield {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

@media (min-width: 769px) {
    #navmobile {
        display: none;
    }

    .ad {
        width: 160px;
        height: 600px;
    }

    #indexmain {
        min-width: 500px;
    }
}

@media (max-width: 768px) {
    #indexmain {
        width: 300px;
    }

    .ad {
        width: 160px;
        height: 600px;
    }
}

@media (max-width: 600px) {
    #navlaptop {
        display: none;
    }

    .flexcontainer {
        flex-direction: column;
        align-items: center;
    }

    .ad {
        width: 320px;
        height: 50px;
    }

    #indexmain {
        width: 100vw;
    }
    
    /*Visual novel*/
    .gamecontainer {
        height: 50vw;
        width: 70vw;
      }
    
    .ui {
        height: 10vw;
        width: 70vw;
    }
    
    .startbutton {
        width: 38vw;
        height: 7.1vw;
        font-size: 20px;
    }
    
    .vn-background {
        height: 40vw;
        width: 70vw;
    }
    
    .charleft {
        height: 25vw;
        width: 20vw;
    }
    
    .charmiddle {
        height: 25vw;
        width: 20vw;
    }
    
    .charright {
        height: 25vw;
        width: 20vw;
    }
    
    .vn-char {
        width: 35vw;
    }
    
    .narrator {
        height: 10vw;
        width: 60vw;
    }

    .narrator h2 {
        font-size: 15px;
    }
    
    .textbox {
        height: 18vw;
        width: 59vw;
    }
    
    .vnp {
        font-size: small;
    }
    
    .buttonbox {
        height: 10vw;
        width: 70vw;
    }
    
    .nextbutton {
        font-size: 10px;
        height: 7vw;
        width: 7vw;
    }
}